



#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 40%;
  }
  
  .li1 {
    float: left;
  }
  
  .li1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .li1 a:hover {
    background-color: #111;
  }







  
#bar {
    width: 500px;
    color: beige;
    border-color: rgb(179, 163, 163);
    font-size: larger;
    }
    body{
    background-image: url(kfc-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    }
    
    
    #about {
    
        margin: 0 auto;
        color:rgba(219, 118, 59, 0.884)
        
        
    }
    #pic {
    
    margin: 0 auto;
    border: 2px dashed rgb(187, 182, 182);
    
    
    }
    h1{margin: 0 auto;
        text-align: center;
        background-color: rgb(134, 4, 4);
        color: blanchedalmond;
        border: dotted white;}

        footer{
            width: 1347px;
            height: 50px;
            background-color: rgba(51, 51, 51, 0.527);
            }
            footer p{
                color: wheat;
                padding-left: 40%;
                padding-top: 15PX;
            }